
*{
  font-family: 'Gill Sans MT';
}
.logo{
  width: 80px; 
  z-index: 10; 
}
.logo-container{
  display: flex;  
  justify-content: center;
  align-items: center;
}

.mobile{
  margin: 120px 0 0 50px;
  font-family: sans-serif;
  color:#eee
}

.desktop .productsimg, .desktop .aboutimg, .desktop .contactimg, .desktop .searchimg{
  display: none;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .search {
  display: none;
}

.mobile .products, .about, .contact, .search{
  display: flex;
  margin: 15px;
  display:flex;
  align-items: center;
}

.mobile .productsimg, .aboutimg, .contactimg, .searchimg{
  width: 35px;
  display: flex;
  margin-right: 10px;
}

.menu .directory .mobile{
  margin: 50px 0 0 50px;
}



/* /// hamburger menu start */
header {
  border-bottom: 1px solid #eee;
  height: 4rem;
}
#menu {
  background: #333;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 5;
  transition: 0.5s;
}
#menuIcon {
  display: none;
}

#menuIcon:checked ~ #menu {
  transform: translateX(0rem);
}

#burger {
  margin: 20px 20px;
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menuIcon:checked ~ #burger > div {
background-color: #fff;
}

#menuIcon:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menuIcon:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menuIcon:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* hamburger menu end /// */

/* ///carousel start */

.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  }
  
  .carousel{
  max-width: 300px;
  /* min-width: 300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  }

  .carousel .card{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* height: 700px; */
  height: 200px;
  /* width: 85vw; */
  align-items: center;
  
  color: #fff;
  /* width: 500px; */
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  /* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */
  }
  
  
  .carousel .card-1{
  /* background: #ed1c24; */
  }
  .carousel .card-2{
  /* background: #0072bc; */
  }
  .carousel .card-3{
  /* background: #39b54a; */
  }
  .carousel .card-4{
  /* background: #f26522; */
  }
  .carousel .card-5{
  /* background: #630460; */
  }

  .owl-dots{
  text-align: center;
  /* margin-top: -350px; */
  }
  .owl-dot{
  height: 15px;
  width: 15px;
  margin: 5px 8px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  }
  
  .owl-dot.active,
  .owl-dot::selection{
  background: #0072bc!important;
  }
  
  
/* carousel end/// */

/* /// popular products start*/
.pop-header{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.popular{
  color: #F987B6;
  animation: color-change 6s infinite;
}

/* @keyframes color-change {
  0% { color: #ED2227; }
  50% { color: #F987B6; }
  100% { color: #ED2227; }
} */

.popular span{
  color: #ED2227;
}

/* ///popular products click slide start */
.workers {
  /* margin-bottom: 200px; */
  display: flex;
  justify-content: center !important  ;
}

.card img {
  background-color: white;
  border-radius: 15px;
}



#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  /* margin-top: -40px;
  margin-left: 150px; */
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  
}



#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
}

.card {
  position: relative;
}

/* popular products click slide end /// */
/* popular products end /// */
  
/* /// form submit start */
.inquiry{
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  margin-top: 28px;
  padding-bottom: 60px;
}

.bkg{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: -5;
  margin-left: -5px;
  transform: scaleX(-1);
}

.contact-title{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.form-submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-button{
display: flex;
padding: 15px 30px;
margin: -5px 0 30px -20px;
width: 120px;
justify-content: center;
align-items: center;
text-decoration: none;
}

#form-button img{
  z-index: -1;
  width: 125px;
  height: 40px;
  display: flex;
  position: absolute;
  
}


input, textarea{
  margin: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

textarea{
  height: 150px;
  resize: vertical;
}

/* form submit end /// */
@media screen and (max-width: 768px) {

  #wrapper {
    display: flex;
    width: 100%;
    min-width: 280px !important;
    max-width: 300px !important;
    position: relative;
    overflow: hidden;
    justify-content: center !important;
  }
  /* ///slide buttons for popular products */
  .prev {
    margin-left: 6% !important;
    transform: translate(50%, -50%);
    display: none;
    
  }
  
  .next{
    /* left: 80% !important; */
    margin-left: 230px;
    transform: translate(-50%, -50%);
  }
  
  #slide-buttons{
    margin-top: -40px;
  }

    /* ///slide buttons for popular products end*/


    input, textarea{
      width: 250px;
    }

    .bkg{
      height: 100%;
    }
}

@media screen and (min-width: 769px) {

/* /// nav bar start */
html,
body {
  font-family: "Roboto", sans-serif;
}

#menu, #burger{
  display: none;
}

.desktop .productsimg {
  display: flex;
    margin-top: 3px;
    width: 50px;
}

.desktop .aboutimg, .desktop .contactimg, .desktop .searchimg{
  display: flex;
  width: 40px;
  height: 40px;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .search {
  display: flex;
}

.nav{
    flex-direction: row;
}

.nav a{
    margin: 20px 20px;
}

.nav .logo-container{
    display: flex;
    position: absolute;
    margin: 0 auto 0 0; 
}

.nav .directory{
    display: flex;
    justify-content: center;
}

.products:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'All Products';
    margin: auto 0 0 -35px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}

.about:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'About Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}

.contact:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Contact Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}

/* nav bar end /// */

/* ///carousel start */

.wrapper{
width: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
display: flex;
justify-content: center;
}

.carousel{
max-width: 1200px;
min-width: 900px;
margin: auto;
padding: 0 30px;
align-items: space-between;
}

.carousel .card{
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #fff;
text-align: center;
height: 70vh;

margin: 20px 0;
line-height: 250px;
font-size: 90px;
font-weight: 600;
border-radius: 10px;
/* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */
}

.carousel .card img{
  height: 70vh;
}

.carousel .card-1{
/* background: #ed1c24; */
}
.carousel .card-2{
/* background: #0072bc; */
}
.carousel .card-3{
/* background: #39b54a; */
}
.carousel .card-4{
/* background: #f26522; */
}
.carousel .card-5{
/* background: #630460; */
}
.owl-dots{
text-align: center;
margin-top: 20px;
}
.owl-dot{
height: 15px;
width: 45px;
margin: 0 5px;
outline: none;
border-radius: 14px;
border: 2px solid #0072bc!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover{
background: #0072bc!important;
}


/* carousel end/// */


/* /// popular products start*/
.pop-header{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.popular{
  font-family: 'Gill Sans MT';
  color: #F987B6;
  animation: color-change 6s infinite;
}

/* @keyframes color-change {
  0% { color: #ED2227; }
  50% { color: #F987B6; }
  100% { color: #ED2227; }
} */

.popular span{
  color: #ED2227;
}

/* ///popular products click slide start */
/* .workers {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
} */

.card img {
  background-color: white;
  border-radius: 15px;
}

#wrapper {
  display: flex;
  width: 100%;
  min-width: 1000px;
  max-width: 1250px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}


#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {

  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  
}

#prev{
  left: 42%;
  transform: translate(50%, -50%);
  display: none;
}

#next{
  left: 55%;
  transform: translate(-50%, -50%);
}

#slide-buttons{
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
}

.card {
  position: relative;
}

/* popular products click slide end /// */
/* popular products end /// */

/*/// inquiry */


.form-submit{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea{
  width: 350px;
}
/* inquiry end /// */
}