
*{
  font-family: 'Gill Sans MT';
}
.logo{
  width: 80px; 
  z-index: 10; 
}
.logo-container{
  display: flex;  
  justify-content: center;
  align-items: center;
}

.mobile{
  margin: 120px 0 0 20px;
  font-family: sans-serif;
  color:#eee;

  
}

.mobile a{
  color:#eee;
  text-decoration: none;
  width: 100%;
  overflow-y: scroll;
}

.desktop .productsimg, .desktop .brochures, .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
  display: none;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .searched, .desktop #myMenu {
  display: none;
}

.mobile .products, .mobile .brochures, .about, .contact, .mobile .searched{
  display: flex;
  margin-top: 15px;
  display:flex;
  align-items: center;
}

.mobile .productsimg, .brochuresimg, .aboutimg, .contactimg, .searchimged{
  width: 35px;
  display: flex;
  margin-right: 10px;
}

.menu .directory .mobile{
  margin: 50px 0 0 50px;
  padding: 0;
  
}



/* /// hamburger menu start */
header {
  border-bottom: 1px solid #eee;
  height: 4rem;
}
#menu {
  background: #333;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 5;
  transition: 0.5s;
}
#menuIcon {
  display: none;
}

#menuIcon:checked ~ #menu {
  transform: translateX(0rem);
}

#burger {
  margin: 20px 20px;
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menuIcon:checked ~ #burger > div {
background-color: #fff;
}

#menuIcon:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menuIcon:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menuIcon:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* hamburger menu end /// */

/*  */

/* ///carousel start */

.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* height: 500px; */
  }
  
  .carousel{
  max-width: 300px;
  /* min-width: 300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  }

  .carousel .card{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* height: 700px; */
  height: 200px;
  /* width: 85vw; */
  align-items: center;
  
  color: #fff;
  /* width: 500px; */
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  /* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */
  }
  

  .owl-dots{
  text-align: center;
  }
  .owl-dot{
  height: 15px;
  width: 15px;
  margin: 5px 8px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  }
  
  .owl-dot.active,
  .owl-dot::selection{
  background: #0072bc!important;
  }
  
  
/* carousel end/// */

/* /// popular products start*/
.pop-header{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.popular{
  color: #F987B6;
  animation: color-change 6s infinite;
}

/* @keyframes color-change {
  0% { color: #ED2227; }
  50% { color: #F987B6; }
  100% { color: #ED2227; }
} */

.popular span{
  color: #ED2227;
}

/* ///popular products click slide start */
.workers {
  display: flex;
  justify-content: center !important  ;
}

.card img {
  background-color: white;
  border-radius: 15px;
}



#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  /* margin-top: -40px;
  margin-left: 150px; */
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  
}



#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
}

.card {
  position: relative;
}

/* popular products click slide end /// */
/* popular products end /// */
  
/* /// form submit start */
.inquiry{
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 28px;
  padding-bottom: 60px;
}

.bkg{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: -5;
  margin-left: -5px;
  transform: scaleX(-1);
}

.contact-title{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.contact-header h4{
  text-decoration: underline;
}

.form-submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-button{
display: flex;
padding: 15px 30px;
margin: -5px 0 30px 10px;
width: 120px;
justify-content: center;
align-items: center;
text-decoration: none;
background-image: url("imgs/New folder/button.png");
background-size: cover;
background-position: center;
width: 140px;
height: 40px;
border: none;

}


input, textarea{
  margin: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

textarea{
  height: 150px;
  resize: vertical;
}

/* form submit end /// */


/* mobile screen size */
@media screen and (max-width: 768px) {

  #menu{
    /* overflow-y: scroll; */
    position: absolute;
    height: 100%;
  }

  .intro{
    width: 100%;
    height: 100%;
    margin-top: -50px;
    padding-top: -100px;
    position: absolute;
    font-size: small;
  }
 
  .intro-p{
    display: flex;
    position: absolute;
    width: 120px;
    margin: 140px 0px 0px 30px;
    line-height: 1.5;
    color: black;
  }

  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block;
    background-color: grey;
  }
  

  .mobile a ~ .searched{
    color:#eee;
    text-decoration: none;
    width: 50px;
    margin-right: 0px;
  }

  .searched{
    display: flex;
    position: absolute;
  }

  .searched input{
    margin-top: -75px;
    margin-left: 0px;
  }

  .search-part{
    margin-top: -15px;
    margin-left: 45px;
    /* display: block; */

  }

  #myMenu .searched{
    position:relative;
    margin-top: 75px;
    margin: 0 !important;
  }

  .carousel .card-1 .button1{
    width: 125px;
    margin: 190px 0px 0px 25px;
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }

  .carousel .card-1 .button-text1 {
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 2;
    margin: 82px 0px 0px 50px ;
  }

  .carousel .card-1 .first{
    width: 170px;
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    margin: 70px 0px 0px 140px;
  }

  .carousel .card-1 .shadow{
    display: none;
    position: absolute;
    opacity: 0.3;
    background-color:#000;
    z-index:2;
  }
  

  

  #wrapper {
    display: flex;
    width: 100%;
    min-width: 280px !important;
    max-width: 300px !important;
    position: relative;
    overflow: hidden;
    justify-content: center !important;
  }
  /* ///slide buttons for popular products */
  .prev {
    margin-left: 6% !important;
    transform: translate(50%, -50%);
    display: none;
    
  }
  
  .next{
    /* left: 80% !important; */
    margin-left: 230px;
    transform: translate(-50%, -50%);
  }
  
  #slide-buttons{
    margin-top: -40px;
  }

    /* ///slide buttons for popular products end*/


  input, textarea{
    width: 250px;
  }

  .bkg{
    height: 100%;
  }

  .footer a{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
  }

  .footer .copyright p{
    text-align: center;
  }


}
/* mobile screen size end */

/* desktop screen size */
@media screen and (min-width: 769px) {

/* /// nav bar start */
html,
body {
  font-family: "Roboto", sans-serif;
}

#menu, #burger{
  display: none;
}

.desktop .productsimg {
  display: flex;
    margin-top: 3px;
    width: 50px;
}

.desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
  display: flex;
  width: 40px;
  height: 40px;
}

.desktop .brochuresimg{
  width: 30px;
  height: 30px;
  margin-top: 12px;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .searched, .desktop .brochures{
  display: flex;
  cursor: pointer;
}

.desktop .searchimged{
  margin-top: 7px;
}

.nav{
    flex-direction: row;
}

.nav a{
  margin: 5px 5px;
}

.nav .logo-container{
    display: flex;
    position: absolute;
    margin: 0 auto 0 0; 
}

.nav .directory{
    display: flex;
    justify-content: center;
}

.nav .directory a{
  margin: 20px 20px;

}

.logo-container:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: 'Home';
  margin: auto 0 0 0px;
  font-size: 12px;
  padding: 13px;
  width: 50px;
  margin-top: 110px;
  z-index: 99;
}

.products:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'All Products';
    margin: auto 0 0 -35px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;
}

.brochures:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: 'Brochures';
  margin: auto 0 0 -45px;
  font-size: 12px;
  padding: 13px;
  width: 100px;
  margin-top: 40px;
}

.about:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'About Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 68px;

}

.contact:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Contact Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 68px;

}

.search-input{
  width: 300px;
  border: none;
  border-bottom: 0.1rem solid #999;
}

.search-button{
  cursor: pointer;
  height: 50px;
  margin: 9px 0 0 -10px;
}

.search-part{
  display: flex;
  flex-direction: column;
  margin: -95px 0 0 70px;
  
  opacity: 0;
  visibility: hidden;
  position: absolute;  
  z-index: 10;

background: #eee;
}

.desktop .searched{
  cursor: pointer;
  margin: 0 !important;
  
}

#search1{
  margin: 20px 10px 0 10px;
  
}

#form{
  margin-top: -50px;
  margin-left: 60px !important;
}

.search-part.change{
  opacity: 1;
  visibility: visible;
  transition: all 0.5 1s;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

/* Style the navigation links */
#myMenu li a {
  padding: 5px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
/* nav bar end /// */

/* ///carousel start */

.wrapper{
width: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
display: flex;
justify-content: center;
}

/* carousel images 750x1200px */
.carousel{
max-width: 1200px;
min-width: 900px;
margin: auto;
padding: 0 30px;
align-items: space-between;
}

.carousel .card{
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #fff;
text-align: center;
height: 750px;
margin: 20px 0;
line-height: 250px;
font-size: 90px;
font-weight: 600;
border-radius: 10px;
/* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */

}

.carousel .card img{
  height: 750px;
}

.carousel .card-1 .intro-p {
  display: flex;
  position: absolute;
  background-color: transparent;
  font-size:x-large;
  z-index: 1;
  margin-left: 50px;
  width: 250px;
  padding:0;
  line-height: 1.5;
  margin-top: 250px;
}



.carousel .card-1 .button1{
  display: flex;
  position: absolute;
  background-color: transparent;
  width: 200px;
  height: 50px;
  z-index: 1;
  left: 75px;
  margin-top: 350px; 
}



.carousel .card-1 .intro-block{
  position: absolute;
  /* background-color: transparent; */
  margin-top: 0px;
  z-index: 1;
  margin-left: 50px;

}

.carousel .card-1 .button-text1{
  display: flex;
  position: absolute;
  font-size: large;
  text-decoration: none;
  left: 125px;
  margin-top: 250px;
  z-index: 2;
  width: 200px;
}

.carousel .card-1 .first{
  width: 600px;
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  margin-left: 420px;
}

.carousel .card-1 .shadow{
  display: flex;
  position: absolute;
  opacity: 0.3;
  background-color:#000;
}


.owl-dots{
text-align: center;
margin-top: 20px;
}
.owl-dot{
height: 15px;
width: 45px;
margin: 0 5px;
outline: none;
border-radius: 14px;
border: 2px solid #0072bc!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover{
background: #0072bc!important;
}


/* carousel end/// */


/* /// popular products start*/
.pop-header{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.popular{
  font-family: 'Gill Sans MT';
  color: #F987B6;
  animation: color-change 6s infinite;
}

/* @keyframes color-change {
  0% { color: #ED2227; }
  50% { color: #F987B6; }
  100% { color: #ED2227; }
} */

.popular span{
  color: #ED2227;
}

/* ///popular products click slide start */
/* .workers {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
} */

.card img {
  background-color: white;
  border-radius: 15px;
}

#wrapper {
  display: flex;
  width: 100%;
  min-width: 1000px;
  max-width: 1250px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}


#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {

  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  
}

#prev{
  left: 42%;
  transform: translate(50%, -50%);
  display: none;
}

#next{
  left: 55%;
  transform: translate(-50%, -50%);
}

#slide-buttons{
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
}

.card {
  position: relative;
}

/* popular products click slide end /// */
/* popular products end /// */

/*/// inquiry */


.form-submit{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea{
  width: 350px;
}
/* inquiry end /// */

/* desktop screen size end */
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  
}

.footer-links a:hover{
  color:blue;
}

.footer-links > * {
    margin: 0 20px 0 20px;
    text-decoration: none;
    color:#333;
    
  }

  .footer hr{
    visibility: hidden;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
  }
  

  