.logo{
    width: 80px;    
}
.productsimg {
    margin-top: 3px;
    width: 50px;
}

.aboutimg, .contactimg, .searchimg{
    width: 40px;
}

.nav{
    flex-direction: row;
}

.nav a{
    margin: 20px 20px;
}

.nav .logo-container{
    display: flex;
    position: absolute;
    margin: 0 auto 0 0; 
}

.nav .directory{
    display: flex;
    justify-content: center;
}

.products:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'All Products';
    margin: auto 0 0 -35px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}

.about:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'About Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}

.contact:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Contact Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
}