<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="nav.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'/>
  <script src="/script.js"  defer></script>
  
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="menuIcon">
        <label id="burger" for="menuIcon">
            <div></div>
            <div></div>
            <div></div>
        </label>

        <div id="menu">
            <div class="directory mobile">
                <a href="../../products/products.html" class="products"><img class='productsimg' src='/imgs/products2.png'/> All Products</a>
                <a href="../../brochure/brochures.html" class="brochures"><img class='brochuresimg' src='/imgs/brochures.png'/>Brochures</a>
                <a href="../../about/about.html" class="about" ><img class='aboutimg' src='/imgs/about.png'> About Us</a>
                <a href="../../home.html#form-submit" class="contact"><img class='contactimg' src='/imgs/contact.png'/>Contact Us</a>
                
                <!-- <h4>Blog</h4> -->

                <div id="search2"></div>
      
            </div>

        </div>
        
        <div >
            <a class="logo-container" href="/home.html">
                <img class='logo' src='../../imgs/logo.png'/>
            </a>
        </div>
        <div class="directory desktop">
            <a href="../../products/products.html" class="products"><img class='productsimg' src='../../imgs/products.png'/></a>
            <a href="../../brochure/brochures.html" class="brochures"><img class='brochuresimg' src='../../imgs/brochures.png'/></a>
            <a href="../../about/about.html" class="about"><img class='aboutimg' src='../../imgs/about.png'/></a>
            <a href="../../home.html#form-submit" class="contact"><img class='contactimg' src='../../imgs/contact.png'/></a>
            
            <!-- <object data="/components/search/search.html"></object> -->

            <div id="search1"></div>

            <script>
                fetch('search/search.html')
                  .then(response => response.text())
                  .then(html => {
                    document.getElementById('search1').innerHTML = html;
                    document.getElementById('search2').innerHTML = html;
      
                    // Load and execute the JavaScript file
                    const script = document.createElement('script');
                    script.src = '../script.js';
                    document.body.appendChild(script);
                  });
              </script>
            
        </div>
    </div>

    <script src="../script.js" ></script>
</body>
</html>