@media screen and (min-width: 769px) {

    /* /// nav bar start */
    html,
    body {
      font-family: "Roboto", sans-serif;
    }
    
    #menu, #burger{
      display: none;
    }
    
    .desktop .productsimg {
      display: flex;
        margin-top: 3px;
        width: 50px;
    }
    
    .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
      display: flex;
      width: 40px;
      height: 40px;
    }
    
    .desktop .brochuresimg{
      width: 30px;
      height: 30px;
      margin-top: 12px;
    }
    
    .desktop .products, .desktop .about, .desktop .contact, .desktop .searched, .desktop .brochures{
      display: flex;
      cursor: pointer;
    }
    
    .desktop .searchimged{
      margin-top: 7px;
    }
    
    .nav{
        flex-direction: row;
    }
    
    .nav a{
      margin: 5px 5px;
  }
    
    .nav .logo-container{
        display: flex;
        position: absolute;
        margin: 0 auto 0 0; 
    }
    
    .nav .directory{
        display: flex;
        justify-content: center;
    }
    
    .nav .directory a{
      margin: 20px 20px;
    
    }
    .logo-container:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: 'Home';
      margin: auto 0 0 0px;
      font-size: 12px;
      padding: 13px;
      width: 50px;
      margin-top: 110px;
      z-index: 99;
    }
    
    .products:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'All Products';
        margin: auto 0 0 -35px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    }
    
    .brochures:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: 'Brochures';
      margin: auto 0 0 -45px;
      font-size: 12px;
      padding: 13px;
      width: 100px;
      margin-top: 40px;
    }
    
    .about:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'About Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 68px;
    
    }
    
    .contact:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'Contact Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 68px;
    
    }
    
    .search-input{
      width: 300px;
      border: none;
      border-bottom: 0.1rem solid #999;
    }
    
    .search-button{
      cursor: pointer;
      height: 50px;
      margin: 9px 0 0 -10px;
    }
    
    .search-part{
      display: flex;
      flex-direction: column;
      margin: -10px 0 0 50px;
      opacity: 0;
      visibility: hidden;
      position: absolute;  
      z-index: 10;
    
    background: #eee;
    }
    
    .desktop .searched{
      cursor: pointer;
    }
    
    .search-part.change{
      opacity: 1;
      visibility: visible;
      transition: all 0.5 1s;
    }
    
    #myMenu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: none;
    }
    
    /* Style the navigation links */
    #myMenu li a {
      padding: 5px;
      text-decoration: none;
      color: black;
      display: block
    }
    
    #myMenu li a:hover {
      background-color: #eee;
    }
    /* nav bar end /// */

}