*{
    font-family: 'Gill Sans MT';
    
  }
  html{scroll-behavior:smooth}
  
  .logo{
    width: 80px; 
    z-index: 10; 
  }
  .logo-container{
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  
  .mobile{
    margin: 120px 0 0 50px;
    font-family: sans-serif;
    color:#eee
  }
  
  .desktop .productsimg, .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
    display: none;
  }
  
  .desktop .products, .desktop .about, .desktop .contact, .desktop .searched {
    display: none;
  }

  .desktop .brochuresimg{
    width: 30px;
    height: 30px;
    margin-top: 13px;
  }

.brochures:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Brochures';
    margin: auto 0 0 -45px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;
  }
  
  .mobile .products, .about, .contact, .search{
    display: flex;
    margin: 15px;
    display:flex;
    align-items: center;
  }
  
  .mobile .productsimg, .aboutimg, .contactimg, .searchimg{
    width: 35px;
    display: flex;
    margin-right: 10px;
  }
  
  .menu .directory .mobile{
    margin: 50px 0 0 50px;
  }
  
  
  
  /* /// hamburger menu start */
  header {
    border-bottom: 1px solid #eee;
    height: 4rem;
  }
  #menu {
    background: #333;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 5;
    transition: 0.5s;
  }
  #menuIcon {
    display: none;
  }
  
  #menuIcon:checked ~ #menu {
    transform: translateX(0rem);
  }
  
  #burger {
    margin: 20px 20px;
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }
  
  #menuIcon:checked ~ #burger > div {
  background-color: #fff;
  }
  
  #menuIcon:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #menuIcon:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  #menuIcon:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  /* hamburger menu end /// */

@media screen and (min-width: 769px) {
/* /// nav bar start */
html,
body {
  font-family: "Roboto", sans-serif;
}

#menu, #burger{
  display: none;
}

.desktop .productsimg {
  display: flex;
    margin-top: 3px;
    width: 50px;
}

.desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
  display: flex;
  width: 40px;
  height: 40px;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .searched {
  display: flex;
  cursor: pointer;

}

.desktop .searchimged{
  margin-top: 7px;
}

.nav{
    flex-direction: row;
}

.nav a{
  margin: 5px 5px;
}

.nav .logo-container{
    display: flex;
    position: absolute;
    margin: 0 auto 0 0; 
}

.nav .directory{
    display: flex;
    justify-content: center;
}

.nav .directory a{
  margin: 20px 20px;
}

.nav .directory .search-part a{
  margin: 5px 20px;
}

.logo-container:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: 'Home';
  margin: auto 0 0 0px;
  font-size: 12px;
  padding: 13px;
  width: 50px;
  margin-top: 110px;
  z-index: 99;
}


.products:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'All Products';
    margin: auto 0 0 -35px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;
}

.about:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'About Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 68px;

}

.contact:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Contact Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 68px;

}

.search-input{
  width: 350px;
  padding: 16px;
  border: none;
  border-bottom: 0.1rem solid #999;
}

.search-button{
  cursor: pointer;
  height: 50px;
  margin: 0 0 0 0;
}

.search-part{
  display: flex;
  flex-direction: column;
  margin: -10px 0 0 50px;
  opacity: 0;
  visibility: hidden;
  position: absolute;  
  z-index: 10;

background: #eee;
}

.desktop .searched{
  cursor: pointer;
}

.search-part.change{
  opacity: 1;
  visibility: visible;
  transition: all 0.5 1s;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

/* Style the navigation links */
#myMenu li a {
  padding: 5px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}


/* nav bar end /// */

/* body start */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#F7CC00, #EBA9DD);
    margin: 0;
    padding: 0;
}

.bodied{
    padding-top: 50px;
    
}

h1, p{
    /* margin-left: 50%; */
    display: flex;
    justify-content: center;
}
hr{
    width: 100px;
    height: 4px;
    background-color: red;
    border: none;

}

.about-us p, .vision p{
    width: 350px;
    
}

.vision {
    margin-top: 75px;
    padding-top: 75px;
    background: linear-gradient( #EBA9DD, #F7CC00);
    
}

.vision-p {
  place-items: center;
  margin: 40px 0 100px 0;
}

.vision-p > * {
    display: flex;
    flex-direction: column;
    position: absolute;

}

.top{
    font-style: italic;
}

.bottom{
    margin-top: 100px;
}


.about-img, .vision-p, .about-p, .about-ending{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.vision img{
    width: 900px;
}

.about-end-p{
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: -50px 0 50px 0;
}
.about-ending span{
    font-weight: bold;
}

.about-ending{
  display: flex;
  text-align: justify;
  flex-direction: column;
  text-align: center; 
}
/* body end /// */

/* footer start*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .footer-links a:hover{
    color:blue;
  }
  
  .footer-links > * {
      margin: 0 20px 0 20px;
      text-decoration: none;
      color:#333;
    }

    .footer hr{
      display: none;
    }
  /* footer end /// */
}
