
*{
  font-family: 'Gill Sans MT';
}
.logo{
  width: 80px; 
  z-index: 10; 
}
.logo-container{
  display: flex;  
  justify-content: center;
  align-items: center;
}

/* /// hamburger menu start */
header {
  border-bottom: 1px solid #eee;
  height: 4rem;
}
#menu {
  background: #333;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 5;
  transition: 0.5s;
}
#menuIcon {
  display: none;
}

#menuIcon:checked ~ #menu {
  transform: translateX(0rem);
}

#burger {
  margin: 20px 20px;
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menuIcon:checked ~ #burger > div {
background-color: #fff;
}

#menuIcon:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menuIcon:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menuIcon:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* hamburger menu end /// */


@media screen and (max-width: 768px) {


.mobile{
  margin: 120px 0 0 50px;
  font-family: sans-serif;
  color:#eee;
}

.mobile a{
  color:#eee;
  text-decoration: none;
}

.desktop .productsimg, .desktop .brochures, .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
  display: none;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .searched, .desktop #myMenu {
  display: none;
}

.mobile .products, .mobile .brochures, .about, .contact, .search{
  display: flex;
  margin: 15px;
  display:flex;
  align-items: center;
}

.mobile .productsimg, .brochuresimg, .aboutimg, .contactimg, .searchimg{
  width: 35px;
  display: flex;
  margin-right: 10px;
}

.menu .directory .mobile{
  margin: 50px 0 0 50px;
}






/* top header breadcrumbs */

.header-bread{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.header-bread a{
  margin-top: -15px;
  cursor:pointer;
  z-index: 2;
  text-decoration: none;
  color: #000;
}

.header-bread h1{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  cursor:default;
}

}

@media screen and (min-width: 769px) {
  html{scroll-behavior:smooth}
    /* /// nav bar start */
    html,
    body {
      font-family: "Roboto", sans-serif;
    }
    
    #menu, #burger{
      display: none;
    }
    
    .desktop .productsimg {
      display: flex;
        margin-top: 3px;
        width: 50px;
    }
    
    .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
      display: flex;
      width: 40px;
      height: 40px;
    }
    
    .desktop .products, .desktop .about, .desktop .contact, .desktop .searched {
      display: flex;
      cursor: pointer;
    }
    
    .desktop .searchimged{
      margin-top: 0px;
    }
    
    .nav{
        flex-direction: row;
    }
    
    .nav a{
      margin: 5px 5px;
  }
    
    .nav .logo-container{
        display: flex;
        position: absolute;
        margin: 0 auto 0 0; 
    }
    
    .nav .directory{
        display: flex;
        justify-content: center;
    }

    .nav .directory a{
      margin: 20px 20px;
    }

    .nav .directory .search-part a{
      margin: 5px 20px;
    }

    .desktop .brochuresimg{
      width: 30px;
      height: 30px;
      margin-top: 7px;
    }
  
  .brochures:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: 'Brochures';
      margin: auto 0 0 -45px;
      font-size: 12px;
      padding: 13px;
      width: 100px;
      margin-top: 0px;
    }

    .logo-container:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: 'Home';
      margin: auto 0 0 0px;
      font-size: 12px;
      padding: 13px;
      width: 50px;
      margin-top: 110px;
      z-index: 99;
    }
    
    .products:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'All Products';
        margin: auto 0 0 -35px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    }
    
    .about:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'About Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    
    }
    
    .contact:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'Contact Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    
    }
    
    .search-input{
      width: 300px;
      border: none;
      border-bottom: 0.1rem solid #999;
      margin: 10px;
      padding: 1rem;
    }
    
    .search-button{
      cursor: pointer;
      height: 50px;
      margin: 9px 0 0 -10px;
    }
    
    .search-part{
      display: flex;
      flex-direction: column;
      margin: -10px 0 0 50px;
      opacity: 0;
      visibility: hidden;
      position: absolute;  
      z-index: 10;
    
    background: #eee;
    }
    
    .desktop .searched{
      cursor: pointer;
    }
    
    .search-part.change{
      opacity: 1;
      visibility: visible;
      transition: all 0.5 1s;
    }
    
    #myMenu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: none;
    }
    
    /* Style the navigation links */
    #myMenu li a {
      padding: 5px;
      text-decoration: none;
      color: black;
      display: block
    }
    
    #myMenu li a:hover {
      background-color: #eee;
    }
    /* nav bar end /// */

    /*  */
    .header-bread{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }

    .header-bread a{
      margin-left: -300px;
      margin-top: 15px;
      cursor:pointer;
      z-index: 2;
      text-decoration: none;
      color: #000;
    }

    .header-bread h1{
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      cursor:default;
    }

    


    /* nav bar end /// */

    .banner{
      overflow-x: hidden;
      margin: 0 -25px 0 -7px;
      padding: 0;
    }
    .about-bann{
      margin: 0 0 0 -15px;
      width: 100%;
      overflow-x: hidden;
    }

    h1, p{
      display: flex;
      justify-content: center;
    }

    hr{
      width: 100px;
      height: 4px;
      background-color: red;
      border: none;
    }

    .prod-container{
      display: grid;
      gap: 15px 15px;
      padding: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .prod-container > a{
      background-color: #fff;
      padding: 10px 0;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-direction: column;
      border-style: solid;
      border-radius: 5px;
      color: lightgray;    
      text-decoration: none;

    }

    .prod-container h3{
      width: 150px;
      text-align: center;
      color: black;

    }

    .prod-container img{
      width: 250px;
      overflow: hidden;
    }

    .prod h3{
      text-decoration: none;
    }


    .sweet-whirls{
      
      grid-area: 1/1/span 1/span 1;
    }

    .krazi-twist{
      grid-area: 1/2/span 1/span 1;
    }

    .roi-pop{
      grid-area: 1/3/span 1/span 1;
    }

    
    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* background: linear-gradient(#FEE687, #F4A7DD); */
      
      margin: 0 -7px -7px -7px;
      padding: 0;
      margin-top: 50px;
      bottom: 0;
    }

    .footer-links{
      margin-top: 20px;
    }
    .footer-links a:hover{
      color:blue;
    }

    .footer-links > * {
        margin: 0 20px 0 20px;
        text-decoration: none;
        color:#333;

    }

    .footer hr{
      background-color: lightgrey !important;
      width: 100%;
      height: 1px;
    }
}