.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
  }
  
  .footer-links a:hover{
    color:blue;
  }
  
  .footer-links > * {
      margin: 0 20px 0 20px;
      text-decoration: none;
      color:#333;
    }