<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css"/>
    <script src="../components/footer/fetchFooter.js"></script>
</head>
<body>
    <div class="footer">
        <hr/>
        <div class="footer-links">
          <a href="/home.html" class="brochures-footer">Home</a>
          <a href="/products/products.html" class="products-footer">Products</a>
          <a href="/brochure/brochures.html" class="brochures-footer">Brochures</a>
          <a href="/about/about.html" class="about-footer">About Us</a>
          <a href="/home.html#form-submit"  class="contact-footer">Contact Us</a>
        </div>
      
        <div class="copyright">
          <p>Sweet N Fun Products Ltd. © 2022 All Rights Reserved.</p>
        </div>
    </div>

    <script src="../../script.js"></script>
</body>
</html>
