*{
    font-family: 'Gill Sans MT';
  }

  body{
    max-width: 100%;
    overflow-x: hidden;
  }

  .logo{
    width: 80px; 
    z-index: 10; 
  }
  .logo-container{
    display: flex;  
    justify-content: center;
    align-items: center;
  }

  /* /// hamburger menu start */
  header {
    border-bottom: 1px solid #eee;
    height: 4rem;
  }
  #menu {
    background: #333;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 5;
    transition: 0.5s;
  }
  #menuIcon {
    display: none;
  }
  
  #menuIcon:checked ~ #menu {
    transform: translateX(0rem);
  }
  
  #burger {
    margin: 20px 20px;
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }
  
  #menuIcon:checked ~ #burger > div {
  background-color: #fff;
  }
  
  #menuIcon:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #menuIcon:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  #menuIcon:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  /* hamburger menu end /// */

@media screen and (min-width: 769px) {

    /* /// nav bar start */
    html,
    body {
      font-family: "Roboto", sans-serif;
    }
    
    #menu, #burger{
      display: none;
    }
    
    .desktop .productsimg {
      display: flex;
        margin-top: 3px;
        width: 50px;
    }
    
    .desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
      display: flex;
      width: 40px;
      height: 40px;
    }
    
    .desktop .products, .desktop .about, .desktop .contact, .desktop .searched {
      display: flex;
      cursor: pointer;
    }
    
    .desktop .searchimged{
      margin-top: 0px;
    }
    
    .nav{
        flex-direction: row;
    }
    
    .nav a{
        margin: 20px 20px;
    }
    
    .nav .logo-container{
        display: flex;
        position: absolute;
        margin: 0 auto 0 0; 
    }
    
    .nav .directory{
        display: flex;
        justify-content: center;
    }

    .logo-container:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: 'Home';
      margin: auto 0 0 0px;
      font-size: 12px;
      padding: 13px;
      width: 50px;
      margin-top: 110px;
      z-index: 99;
    }
    
    .products:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'All Products';
        margin: auto 0 0 -35px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    }
    
    .about:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'About Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    
    }
    
    .contact:hover:after{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        background: #444;
        border-radius: 8px;
        color: #fff;
        content: 'Contact Us';
        margin: 5px 0 0 -40px;
        font-size: 12px;
        padding: 13px;
        width: 100px;
        margin-top: 40px;
    
    }
    
    .search-input{
      margin-top: 5px;
      width: 300px;
      height: 45px;
      border: none;
      border-bottom: 0.1rem solid #999;
    }
    
    .search-button{
      margin-top: 4px;
      cursor: pointer;
      height: 50px;
      /* margin: 9px 0 0 -10px; */
    }
    
    .search-part{
      display: flex;
      flex-direction: row;
      margin: -10px 0 0 50px;
      opacity: 0;
      visibility: hidden;
      position: absolute;  
    }
    
    .desktop .searched{
      cursor: pointer;
    }
    
    .search-part.change{
      opacity: 1;
      visibility: visible;
      transition: all 0.5 1s;
    }

    .banner{
        overflow-x: hidden;
        margin: 0 -25px 0 -8px;
        padding: 0;
      }
  
      .bann{
        margin: 0 0 0 -15px;
        width: 100%;
        overflow-x: hidden;
      }

    /* nav bar end /// */
    
    .products-header{
      padding-top: 50px;
    }

    .header-bread{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .header-bread a{
      color: #000;
    }
    
    .header-bread .home{
      margin-left: -500px;
      margin-top: 15px;
      cursor:pointer;
      z-index: 2;
      text-decoration: none;
    
    }
    
    .header-bread .all-prod{
      margin-top: 15px;
      margin-left: 30px;
      cursor:pointer;
      z-index: 2;
      text-decoration: none;
    }

    .header-bread .cat{
      margin-top: 15px;
      margin-left: 30px;
      cursor:pointer;
      z-index: 2;
      text-decoration: none;
    }
    
    .header-bread h1{
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      cursor:default;
    }

    .header-bread .bubble{
        margin-right: 45px;
    }

    .header-bread .rnbsherb{
        margin-right: 90px;
    }

    .header-bread .strawberry{
        margin-right: 135px;
    }

    .header-bread .ktcotton, .ktstrawberry{
      margin-right: 45px;
    }

    .header-bread .lgblueberry, .lgrainbow{
      margin-right: 45px;
    }

    .header-bread .large{
      margin-right: 90px;
    }

    h1{
      display: flex;
      justify-content: center;
    }
  
    hr{
      width: 100px;
      height: 4px;
      background-color: red;
      border: none;
      margin-bottom: 50px;
    }
    

    .product-image {
        display: none;
    }

    .product{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .right{
        width: 450px;
        padding: 30px;
    }

    .description{
      margin-top: -180px;

    }

    .product-image {
        display: block;
        width: 100%;
    }

    .product-image img {
        height: 520px;
        width: 620px;
    }

    .product-image img .active {
          display: block;
          margin: 0 0 0.75rem 0;
    }
      
    .image-list {
        display: flex;
        overflow: hidden;
        padding: 0;
        padding: 15px;
    }

    .image-list img {
        height: 10rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    .image-list img:hover {
        opacity: 0.7;
    }

    .image-list li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
        list-style: none;
    }

    .image-list li:nth-child(3) {
        margin: 0;
        box-shadow: none;
    }

    #roipops{
      box-shadow: 0px 0px 5px #999;
    }

    .image-item{
      margin: 5px;
      box-shadow: 0px 0px 5px #999;
    }
    
    nav ul {
        justify-content: flex-end;
    }

    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(#FEE687, #F4A7DD);
      margin: 0 -7px -7px -7px;
      padding: 0;
      margin-top: 50px;
      
    }
    .footer-links{
      margin-top: 20px;
    }

    .footer-links > * {
        margin: 0 20px 0 20px;
        text-decoration: none;
    }

  }
    