/* /// nav bar start */

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
    overflow-x: hidden;
}

.logo{
    width: 80px; 
    z-index: 10; 
  }

#menu, #burger{
  display: none;
}

.desktop .productsimg {
  display: flex;
    margin-top: 3px;
    width: 50px;
}

.desktop .aboutimg, .desktop .contactimg, .desktop .searchimged{
  display: flex;
  width: 40px;
  height: 40px;
}

.desktop .products, .desktop .about, .desktop .contact, .desktop .searched {
  display: flex;
  cursor: pointer;
}

.desktop .searchimged{
  margin-top: 0px;
}

.nav{
    flex-direction: row;
}

.nav a{
    margin: 20px 20px;
}

.nav .logo-container{
    display: flex;
    position: absolute;
    margin: 0 auto 0 0; 
}

.nav .directory{
    display: flex;
    justify-content: center;
}

.logo-container:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: 'Home';
  margin: auto 0 0 0px;
  font-size: 12px;
  padding: 13px;
  width: 50px;
  margin-top: 110px;
  z-index: 99;
}

.products:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'All Products';
    margin: auto 0 0 -35px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;
}

.about:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'About Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;

}

.contact:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: 'Contact Us';
    margin: 5px 0 0 -40px;
    font-size: 12px;
    padding: 13px;
    width: 100px;
    margin-top: 40px;

}

.search-input{
  margin-top: 5px;
  width: 300px;
  height: 45px;
  border: none;
  border-bottom: 0.1rem solid #999;
}

.search-button{
  margin-top: 4px;
  cursor: pointer;
  height: 50px;
  /* margin: 9px 0 0 -10px; */
}

.search-part{
  display: flex;
  flex-direction: row;
  margin: -10px 0 0 50px;
  opacity: 0;
  visibility: hidden;
  position: absolute;  
}

.desktop .searched{
  cursor: pointer;
}

.search-part.change{
  opacity: 1;
  visibility: visible;
  transition: all 0.5 1s;
}

.products-header{
  padding-top: 50px;
}

.header-bread{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-bread a{
  color: #000;
}

.header-bread .home{
  margin-left: -450px;
  margin-top: 15px;
  cursor:pointer;
  z-index: 2;
  text-decoration: none;

}

.header-bread .all-prod{
  margin-top: 15px;
  margin-left: 30px;
  cursor:pointer;
  z-index: 2;
  text-decoration: none;

}

.all-prod .roipop{
  margin-right: -45px;
}

.large{
  margin-right: 90px;
}

.space90{
  margin-right: 90px;
}

.header-bread h1{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  cursor:default;
}
/* nav bar end /// */

.banner{
  overflow-x: hidden;
  margin: 0 -25px 0 -7px;
  padding: 0;
}

.about-bann{
  margin: 0 -7px 0 -7px;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

h1, p{
    /* margin-left: 50%; */
    display: flex;
    justify-content: center;
  }

  hr{
    width: 100px;
    height: 4px;
    background-color: red;
    border: none;
  }

  .prod-container{
    display: grid;
    gap: 15px 15px;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .prod-container > a{
    background-color: #fff;
    padding: 10px 0;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    border-style: solid;
    border-radius: 5px;
    color: lightgray;    
  }

  .prod-container h3{
    width: 150px;
    text-align: center;
    color: black;
    margin-bottom: 0;
  }

  .prod-container p{
    color: grey;
  }

  .prod-container img{
    width: 250px;
    overflow: hidden;
  }

  .prod{
    text-decoration: none;
  }

  .flav1{
    
    grid-area: 1/1/span 1/span 1;
  }

  .flav2{
    grid-area: 1/2/span 1/span 1;
  }

  .flav3{
    grid-area: 1/3/span 1/span 1;
  }


  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#FEE687, #F4A7DD);
    margin: 0 -7px -7px -7px;
    padding: 0;
    margin-top: 50px;
    
  }
  .footer-links{
    margin-top: 20px;
  }

  .footer-links > * {
      margin: 0 20px 0 20px;
      text-decoration: none;
  }